        *,
        *::after,
        *::before {
            margin: 0;
            padding: 0;
            box-sizing: inherit;
        }
        
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background: white no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        
        .header {
            width: 100%;
            height: 100%;
            display: flex;
            //  box-shadow: 1px 1px 12px #afa2a2;
            justify-content: center;
            &__logo {
                height: 30px;
                padding: 1rem;
            }
            &__search {
                width: 100%;
                text-decoration: none;
                border-top: 0.1px solid rgba(192, 192, 192, 0.596);
                border-bottom: 0.1px solid silver;
                font-size: 1.3rem;
                background-color: rgb(240, 223, 223);
                &--icon {
                    padding: 1rem;
                }
                &--input {
                    padding: 1rem;
                    .textbox {
                        border: 1px solid white;
                        outline: 0;
                        background-color: white;
                        font-size: 16px;
                        padding: 3px 6px 3px 6px;
                    }
                }
            }
        }
        
        main {
            width: 100%;
            height: 100%;
        }
        
        .aside {
            width: 100%;
            height: 100%;
        }
        
        .choise {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            padding-bottom: 1.5rem;
            &__heading {
                // padding: 1.5rem;
                width: 65%;
                font-size: 28px;
                font-weight: bold;
                height: auto;
                color: black;
                display: flex;
            }
            &__title {
                width: 90%;
                font-size: 24px;
                padding: 1.5rem;
                color: rgb(207, 202, 202);
            }
            &__text {
                width: 60%;
                padding: 1rem;
                font-size: 22px;
                color: white;
                background-image: linear-gradient(to bottom, rgba(255, 128, 255, 0.5), rgba(0, 0, 128, 0.5));
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
            }
        }
        
        .fonction {
            width: auto;
            height: auto;
            padding: 2rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 3px solid red;
            &__filtre {
                width: 100%;
                margin-right: 0rem;
                align-items: flex-start;
                font-size: 1.5rem;
                border: 3px solid red;
            }
            &__card {
                width: 100%;
                height: 38px;
                text-align: center;
                border-radius: 30px 30px 30px 30px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                border: 3px solid #F2F2F2;
                margin-top: 20px;
                background-color: whitesmoke;
                border: 3px solid red;
                &__cercle {
                    margin: 8px 15px 0px -12px;
                    padding-top: 0.3rem;
                    background: #876499;
                    justify-content: center;
                    width: 38px;
                    height: 22px;
                    color: white;
                    display: table;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    display: table-cell;
                    vertical-align: middle;
                    color: white;
                    font-size: 0.8rem;
                }
                &__icon {
                    margin: 12px 15px 0px 0px;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    display: table;
                    border-radius: 50%;
                    &--fas {
                        color: #876499;
                    }
                }
                &__choise {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-wrap: nowrap;
                    font-size: 1rem;
                    font-weight: bolder;
                    align-items: center;
                    margin: auto 0.8rem;
                }
            }
        }
        
        .food {
            width: auto;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            background-color: whitesmoke;
            padding: 1rem;
            &__newproject {
                display: inline-block;
                position: relative;
                &__text {
                    background: rgb(0, 255, 234);
                    z-index: 1;
                    position: absolute;
                    text-align: center;
                    font-family: Georgia;
                    margin: 10px 20px 0px 0px;
                    font-size: 0.6rem;
                    right: 0%;
                    top: 0%;
                    color: white;
                    width: 20%;
                }
            }
            &__project {
                width: 95%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2rem;
                &__heading {
                    width: 100%;
                    height: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    font-size: 0.8rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                }
                &__img {
                    width: 98%;
                    height: 9.5rem;
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                }
            }
            &__project__text {
                width: 98%;
                height: 4rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                background-color: white;
                border-radius: 0px 0px 20px 20px;
                -webkit-border-radius: 0px 0px 20px 20px;
                -moz-border-radius: 0px 0px 20px 20px;
                -ms-border-radius: 0px 0px 20px 20px;
                -o-border-radius: 0px 0px 20px 20px;
                padding-left: 1rem;
                &__project__left {
                    width: 85%;
                    height: auto;
                    display: flex;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    &__project__title {
                        width: 100%;
                        margin-bottom: 4px;
                        font-size: 1.0rem;
                        font-weight: bold;
                        display: flex;
                        justify-content: flex-start;
                    }
                    &__project__comment {
                        width: 100%;
                        height: auto;
                        font-size: 0.9rem;
                        display: flex;
                        justify-content: flex-start;
                    }
                }
                &__project__rigth {
                    width: 15%;
                    height: auto;
                    margin: auto;
                    font-size: 1.3rem;
                    .fas {
                        display: none;
                    }
                    &:hover {
                        .far {
                            display: none;
                        }
                        .fas {
                            display: block;
                        }
                        color: rgb(161, 16, 190);
                    }
                }
            }
        }