                     *,
                     *::after,
                     *::before {
                         margin: 0;
                         padding: 0;
                         box-sizing: inherit;
                     }
                     
                     html,
                     body {
                         font-family: 'Montserrat', sans-serif;
                         height: 100%;
                         margin: 0;
                         padding: 0;
                     }
                     
                     .header {
                         width: 100%;
                         display: flex;
                         justify-content: center;
                         &__logo {
                             height: 30px;
                             padding: 1rem;
                         }
                         &__search {
                             width: 100%;
                             text-decoration: none;
                             font-size: 1.3rem;
                             background-color: rgb(175, 175, 224);
                             &--icon {
                                 padding: 1rem;
                             }
                             &--input {
                                 padding: 1rem;
                                 .textbox {
                                     border: 1px solid rgb(175, 175, 224);
                                     outline: 0;
                                     background-color: rgb(175, 175, 224);
                                     font-size: 16px;
                                     padding: 3px 6px 3px 6px;
                                 }
                             }
                         }
                     }
                     
                     .foot {
                         width: 100%;
                         display: flex;
                         flex-wrap: wrap;
                         justify-content: center;
                         text-align: center;
                         &--heading {
                             padding: 1.5rem;
                             width: 65%;
                             font-size: 28px;
                             font-weight: bold;
                             height: auto;
                             color: black;
                             display: flex;
                             text-justify: auto;
                             padding: 1.5rem 1.5rem 0 1.5rem;
                         }
                         &--title {
                             width: 90%;
                             font-size: 24px;
                             padding: 1.5rem;
                             color: rgb(207, 202, 202);
                         }
                         &--text {
                             width: 60%;
                             padding: 1.5rem;
                             font-size: 22px;
                             color: white;
                             background-color: rgb(175, 175, 224);
                             border-radius: 30px;
                             -webkit-border-radius: 30px;
                             -moz-border-radius: 30px;
                             -ms-border-radius: 30px;
                             -o-border-radius: 30px;
                         }
                     }
                     
                     .card-2 {
                         margin: 30px 21px 0px 5px;
                         width: auto;
                         height: 38px;
                         display: table;
                         text-align: center;
                         border-radius: 30px 30px 30px 30px;
                         display: flex;
                         flex-wrap: nowrap;
                         justify-content: auto;
                         border: 3px solid #F2F2F2;
                     }
                     
                     #card-3 {
                         margin: 30px 10px 0px 0px;
                         text-align: left;
                         padding: 0px 0.5em 0 0.5em;
                         margin: right;
                     }
                     
                     #card-4 {
                         display: flex;
                         margin: 10px 10px 0px -5px;
                     }
                     
                     .moncercle {
                         margin: -3px;
                         background: #DEEBFF;
                         justify-content: center;
                         width: 40px;
                         height: 40px;
                         display: table;
                         border-radius: 50%;
                     }
                     
                     .moncercle-i {
                         justify-content: center;
                         border-radius: 50%;
                         width: 40px;
                         height: 40px;
                         display: table;
                         -webkit-border-radius: 50%;
                         -moz-border-radius: 50%;
                         -ms-border-radius: 50%;
                         -o-border-radius: 50%;
                     }
                     
                     .moncercle span {
                         display: table-cell;
                         vertical-align: middle;
                         color: #0065FC;
                     }