.fonction {
    width: 100%;
    height: auto;
    padding: 2rem 1rem 2em 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    &__filtre {
        width: 100%;
        padding-bottom: 1rem;
        align-items: flex-start;
        font-size: 1.4rem;
        font-weight: bold;
    }
    &__card {
        width: 100%;
        height: 5rem;
        text-align: center;
        border-radius: 30px 30px 30px 30px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        border: 3px solid #F2F2F2;
        margin-top: 20px;
        box-shadow: 0 5px 15px 0 #c3c3c3;
        background-color: whitesmoke;
        font-size: 1.2rem;
        padding: 0 0rem;
        margin: 1rem 0rem;
        &:hover {
            box-shadow: 0 5px 5px 0 #c3c3c3;
        }
        &__cercle {
            margin: 27px 15px 0px -12px;
            padding-top: 0.3rem;
            background: $colour-primary;
            justify-content: center;
            width: 38px;
            height: 22px;
            color: white;
            display: table;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            display: table-cell;
            vertical-align: middle;
            color: white;
            font-size: 0.8rem;
        }
        &__icon {
            margin: 30px 15px 0px 0px;
            justify-content: center;
            width: 4%;
            height: 40px;
            font-size: 1.3rem;
            display: table;
            border-radius: 50%;
            &--fas {
                color: $colour-primary;
            }
        }
        &__choise {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            font-size: .9rem;
            font-weight: bolder;
            align-items: center;
            margin: auto 0.8rem;
        }
    }
}