    @keyframes food {
        0% {
            opacity: 0;
            transform: scaleX(0);
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
        }
        17% {
            transform: scaleX(.18);
            -webkit-transform: scaleX(.18);
            -moz-transform: scaleX(.18);
            -ms-transform: scaleX(.18);
            -o-transform: scaleX(.18);
        }
        24% {
            transform: scaleX(.4);
            -webkit-transform: scaleX(.4);
            -moz-transform: scaleX(.4);
            -ms-transform: scaleX(.4);
            -o-transform: scaleX(.4);
        }
        46% {
            transform: scaleX(.81);
            -webkit-transform: scaleX(.81);
            -moz-transform: scaleX(.81);
            -ms-transform: scaleX(.81);
            -o-transform: scaleX(.81);
        }
        100% {
            opacity: 0;
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
        }
    }
    
    @keyframes pageinit {
        0% {
            transform: scaleX(0);
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            opacity: 0;
        }
        17% {
            transform: scaleX(.18);
        }
        24% {
            transform: scaleX(.4);
        }
        46% {
            transform: scaleX(.81);
        }
        85%,
        100% {
            opacity: 1;
        }
        100% {
            transform: scaleX(1);
            -webkit-transform: scaleX(1);
            -moz-transform: scaleX(1);
            -ms-transform: scaleX(1);
            -o-transform: scaleX(1);
        }
    }
    
    .food {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        background-color: whitesmoke;
        padding: 2rem 1.5rem 2rem 1.5rem;
        &__newproject {
            display: inline-block;
            position: relative;
            &__text {
                background: $colour-tertiaire;
                text-align: center;
                font-family: Georgia;
                margin: 2% 5% 0px 0px;
                // font-size: 25;
                color: rgb(82, 80, 80);
                width: 30%;
                height: 10%;
                position: absolute;
                z-index: 1;
                right: 0%;
                top: 2%;
            }
        }
        &__heading {
            width: 100%;
            height: 1.8rem;
            padding-bottom: 0.8rem;
            display: flex;
            justify-content: flex-start;
            font-size: 1.4rem;
            font-weight: bold;
        }
        &__all {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            &__project {
                width: 100%;
                min-width: 275px;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2rem;
                box-shadow: 0 5px 15px 0 #c3c3c3;
                @include borderRadius($radiusDefault);
                transform-origin: center;
                transition: transform 4000ms;
                -webkit-transition: transform 4000ms;
                -moz-transition: transform 4000ms;
                -ms-transition: transform 4000ms;
                -o-transition: transform 4000ms;
                animation: pageinit 1000ms;
                -webkit-animation: pageinit 1000ms;
                @include tablet-only {
                    width: 48%;
                }
                @include desktop-only {
                    width: 24%;
                }
                &__img {
                    width: 100%;
                    height: 8rem;
                    object-fit: cover;
                    @include borderRadiusTop($radiusDefault);
                }
                &__text {
                    width: 100%;
                    height: 3.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    color: black;
                    background-color: white;
                    @include borderRadiusBotton($radiusDefault);
                    padding-left: 1rem;
                    &__left {
                        width: 85%;
                        height: 83%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        &__title {
                            width: 100%;
                            margin-bottom: 4px;
                            font-size: .9rem;
                            font-weight: bold;
                            display: flex;
                            justify-content: flex-start;
                        }
                        &__comment {
                            width: 100%;
                            height: auto;
                            font-size: .8rem;
                            display: flex;
                            justify-content: flex-start;
                        }
                    }
                    &__rigth {
                        width: 15%;
                        height: auto;
                        margin: auto;
                        font-size: 1.8rem;
                        .far {
                            position: relative; // display: none;
                            opacity: 1;
                        }
                        .fas {
                            opacity: 0;
                            transition: all 400ms;
                            position: absolute;
                            bottom: 7.2%;
                            left: 85.5%;
                            -webkit-transition: all 400ms;
                            -moz-transition: all 400ms;
                            -ms-transition: all 400ms;
                            -o-transition: all 400ms;
                        }
                        &:hover {
                            .fas {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }