.header {
    // display:block;
    position: relative;
    // background:#f5f5f5;
    // border:solid 1px #ccc;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    &__logo {
        width: 100%;
        height: 2.5rem;
        padding: 2.8rem 0 2rem 0;
        display: flex;
        justify-content: space-around;
        background-color: white;
        box-shadow: 0px 10px 5px #afa2a2;
        z-index: +1;
        &--icon {
               width: 100%;
               height: 5rem;
               display: flex;
             &__fas {
               width: 20%;
               text-decoration: none;
               height: auto;
               color: black;
               align-items:flex-start;
               font-size: 2.5rem;
               padding: 0rem 2rem 0.8rem 1.8rem;
                }
                &__img{
               width: 40%;
               height: 60%;
               display: inline-flex;
               font-size: 2rem;
                }
         }
    }
    &__search {
        background-color: lightgrey;
        width: 100%;
        text-decoration: none;
        // border-top: 0.1px solid rgba(192, 192, 192, 0.596);
        font-size: 1.3rem;
        &--icon {
            background-color: lightgrey;
            padding: 1rem;
            border: 1px solid lightgrey;
        }
        &--input {
            padding: 1rem;
            .textbox {
                border: 1px solid lightgrey;
                @include borderRadius(100rem);
                outline: 0;
                background-color: lightgrey;
                font-size: 16px;
                padding: 3px 6px 3px 6px;
                 &:focus {
                    border: 2px solid green;
                    background-color: white;

                    }
                      }
           
        }
    }
}
