$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiaire:#99E2D0;
$radiusDefault: 30px;
$radiusCircle: 50%;
$defaultUnit: "px";
$num-bars:4;
$anim-dur:1000ms;
$anim-delay: $anim-dur / $num-bars;
$breakpoints: ( tablet:768px, laptop:1025px, desktop:1200px);